In [1]:
import pandas as pd
import numpy as np
import random as rnd

#The clean dataset
data = pd.read_excel(r"C:\Users\Admin\OneDrive\Documents\USIU\Datawarehousing\Groupwork\data\sales_and_customer_insights.xlsx")
print(data.head())

# View basic info
print("\nðŸ”¹ Dataset Info:")
print(data.info())

print("\nðŸ”¹ First 5 Rows:")
print(data.head())

print("\nðŸ”¹ Missing Values Count:")
print(data.isnull().sum())

print("\nðŸ”¹ Duplicate Rows:", data.duplicated().sum())

print("\nðŸ”¹ Summary Statistics:")
print(data.describe(include='all'))

# --- Step 3: Check for negative or zero quantities and prices ---
negative_qty = data[data['Quantity'] <= 0]
negative_price = data[data['UnitPrice'] <= 0]

print(f"\nðŸ”¹ Rows with non-positive quantities: {len(negative_qty)}")
print(f"ðŸ”¹ Rows with non-positive unit prices: {len(negative_price)}")

# --- Step 4: Check country name inconsistencies ---
print("\nðŸ”¹ Unique countries:\n", data['Country'].unique())

# --- Step 5: Quick check for outliers using describe() ---
print("\nðŸ”¹ Summary statistics for numeric columns:\n", data.describe())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

ðŸ”¹ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

ðŸ”¹ First 5 Rows:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

ðŸ”¹ Missing Values Count:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

ðŸ”¹ Duplicate Rows: 5268

ðŸ”¹ Summary Statistics:
        InvoiceNo StockCode                         Description  \
count    541909.0    541909                              540455
unique    25900.0      4070                                4223
top      573585.0    85123A  WHITE HANGING HEART T-LIGHT HOLDER
freq       1114.0      2313                                2369
mean          NaN       NaN                                 NaN
min           NaN       NaN                                 NaN
25%           NaN       NaN                                 NaN
50%           NaN       NaN                                 NaN
75%           NaN       NaN                                 NaN
max           NaN       NaN                                 NaN
std           NaN       NaN                                 NaN

             Quantity                    InvoiceDate      UnitPrice  \
count   541909.000000                         541909  541909.000000
unique            NaN                            NaN            NaN
top               NaN                            NaN            NaN
freq              NaN                            NaN            NaN
mean         9.552250  2011-07-04 13:34:57.156386048       4.611114
min     -80995.000000            2010-12-01 08:26:00  -11062.060000
25%          1.000000            2011-03-28 11:34:00       1.250000
50%          3.000000            2011-07-19 17:17:00       2.080000
75%         10.000000            2011-10-19 11:27:00       4.130000
max      80995.000000            2011-12-09 12:50:00   38970.000000
std        218.081158                            NaN      96.759853

           CustomerID         Country
count   406829.000000          541909
unique            NaN              38
top               NaN  United Kingdom
freq              NaN          495478
mean     15287.690570             NaN
min      12346.000000             NaN
25%      13953.000000             NaN
50%      15152.000000             NaN
75%      16791.000000             NaN
max      18287.000000             NaN
std       1713.600303             NaN

ðŸ”¹ Rows with non-positive quantities: 10624
ðŸ”¹ Rows with non-positive unit prices: 2517

ðŸ”¹ Unique countries:
 ['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

ðŸ”¹ Summary statistics for numeric columns:
             Quantity                    InvoiceDate      UnitPrice  \
count  541909.000000                         541909  541909.000000
mean        9.552250  2011-07-04 13:34:57.156386048       4.611114
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 11:34:00       1.250000
50%         3.000000            2011-07-19 17:17:00       2.080000
75%        10.000000            2011-10-19 11:27:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       218.081158                            NaN      96.759853

          CustomerID
count  406829.000000
mean    15287.690570
min     12346.000000
25%     13953.000000
50%     15152.000000
75%     16791.000000
max     18287.000000
std      1713.600303

# data mining - Act of extracting useful information information from large databases
## data mining techniques
# 1. Classification
It finds rules that partition data into groups. It requires a training dataset that has lables provided.
It then classifies the unlabled records based on knowledge from training datasets.
eg.
decision tree 
neural networks
genetic algorithims
# 2. clustering
This works by grouping data such that data within a cluster have high similarity and data outside a cluster are dissimilar.
eg.
K-Means
DBSCAN
OPTILS
STING
# 3. association rule
It is used to find intresting relations between variables in large databases.
It aims to discover all the rules that have support and confidence greater than or equal to minimum support
eg. 
Apriori
AprioriTid
Apriori hybrid
Tertius algorithims
# 4. neural networks
It involves developing mathematical structures with the ability to learn.
It allows for the extraction of meaningful and useful patterns and trends from complex data.
# 5. Support vector machines 
It maps input data to a higher dimentional feature space, then findsa linear seperatorin the space that best discriminates 
between classes


## Technique we are using - Association Rule Mining (Apriori, FP-Growth, etc.)
## Why Association Rule Mining Is Best for our Context

Our dataset contains transaction-level recordsâ€”exactly what association rule algorithms are designed for.

# It uncovers:

Which products are frequently bought together (market basket analysis).

Cross-sell and up-sell recommendations.

Product bundling insights.

# It is widely used in retail analytics because it directly supports:

Recommendation engines.

Product placement.

Promotion optimization.

Requires no target variable, making it perfect for your transactional data.